<template>
	<v-app v-bind:style="{ 'background-image': 'url(' + require('./../../../assets/bg.jpg') + ')' }">
		<navigation-component :drawer="drawer" @closing="drawer = !drawer" @ApplyClick="setActiveView(navigationViews.Apply)" @HomeClick="setActiveView(navigationViews.Home)" @ApplicationsClick="setActiveView(navigationViews.Applications)" @SettingsClick="setActiveView(navigationViews.RecruiterSettings)" />
		<v-toolbar color="green lighten-2" dark data-app>
			<v-toolbar-side-icon @click.stop="drawer = !drawer" class="sm-and-down hidden-md-and-up" />
			<v-toolbar-title>
				<img :src="require('./../../../assets/logo.png')" class="header-img" />
				Recruit
			</v-toolbar-title>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-btn flat @click="setActiveView(navigationViews.Home)">{{ translate('Home') }}</v-btn>
				<v-btn flat @click="setActiveView(navigationViews.Apply)" v-if="isLoggedIn() && !isAdmin()">{{ translate('Apply') }}</v-btn>
				<v-btn flat @click="setActiveView(navigationViews.RecruiterSettings)" v-if="isLoggedIn() && isAdmin()">{{ translate('Settings') }}</v-btn>
				<v-btn flat @click="setActiveView(navigationViews.Applications)" v-if="isLoggedIn() && isAdmin()">{{ translate('Applications') }}</v-btn>
			</v-toolbar-items>
			<v-spacer></v-spacer>
			<v-menu offset-y style="margin-right: 25px;">
      			<template slot="activator">
					<v-btn color="green lighten-1" dark v-on="on" small>
						{{ translate('Language') }} ({{ $locale }})
					</v-btn>
				</template>
      			<v-list>
					<v-list-tile v-for="(item, index) in langs" :key="index" @click="$locale = item.code">
						<v-list-tile-title>{{ item.name }}</v-list-tile-title>
					</v-list-tile>
      			</v-list>
   			</v-menu>
			<v-avatar v-if="isLoggedIn()" size="36px" style="margin-right: 30px;">
              <v-icon size="32px">account_box</v-icon>
			  <span v-if="isAdmin()" style="text-transform: capitalize">{{ $store.state.authentication.user.username }}</span>
			  <span v-else>{{ $store.state.authentication.user.username }}</span>
            </v-avatar>


			<v-btn @click="logout()" color="error" v-if="isLoggedIn()">{{ translate('Logout') }}</v-btn>
			<v-btn @click="loginDialogVisible = true" color="blue-grey" v-else>{{ translate('Login') }}</v-btn>
		</v-toolbar>
		<v-content >
				<v-container fluid>
					<transition name="fade">
						<home-component v-if="activeView == navigationViews.Home" @applyPage="activeView = navigationViews.Apply"  @openLogin="loginDialogVisible = true" />
					</transition>
					<transition name="fade">
						<applications-component v-if="activeView == navigationViews.Applications" />
					</transition>
					<transition name="fade">
						<apply-component v-if="activeView == navigationViews.Apply" />
					</transition>
					<transition name="fade">
						<recruiter-settings-component v-if="activeView == navigationViews.RecruiterSettings" />
					</transition>
				</v-container>
			</v-content>
		<login-dialog-component :loginDialogVisible="loginDialogVisible" @hideDialog="loginDialogVisible = false" @changeToRegForm="openRegCloseLog" @changeToForgotPwForm="openForgotPwCloselog" @login="loggedIn = true" />
		<register-dialog-component :registerDialogVisible="registerDialogVisible" @hideDialog="registerDialogVisible = false" @toLogin="loginDialogVisible = true" />
		<forgot-pw-dialog-component :forgotPwDialogVisible="forgotPwDialogVisible" @hideDialog="forgotPwDialogVisible = false" @toLogin="loginDialogVisible = true" />
	</v-app>
</template>
<script src="./recruit.ts" />