<template>
	<v-navigation-drawer v-model="drawer" absolute dark temporary mobile-break-point="x12">
		<v-list class="pa-1">
			<v-list-tile avatar tag="div">
				<v-list-tile-avatar>
					<img :src="require('./../../../assets/logo.png')" />
				</v-list-tile-avatar>

				<v-list-tile-content>
					<v-list-tile-title>Recruit</v-list-tile-title>
				</v-list-tile-content>

				<v-list-tile-action>
					<v-btn icon @click.stop="closing">
						<v-icon>chevron_left</v-icon>
					</v-btn>
				</v-list-tile-action>
			</v-list-tile>
		</v-list>
		<v-list class="pt-0">
			<v-divider light></v-divider>
			<v-list-tile>
				<v-list-tile-content @click="$emit('HomeClick'); closing()">
					<v-list-tile-title>{{ translate('Home') }}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-list-tile v-if="isLoggedIn() && !isAdmin()" @click="$emit('ApplyClick'); closing()">
				<v-list-tile-content>
					<v-list-tile-title>{{ translate('Apply') }}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-list-tile v-if="isAdmin() && isLoggedIn()" @click="$emit('ApplicationsClick'); closing()">
				<v-list-tile-content>
					<v-list-tile-title>{{ translate('Applications') }}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			<v-list-tile v-if="isAdmin() && isLoggedIn()" @click="$emit('SettingsClick'); closing()">
				<v-list-tile-content>
					<v-list-tile-title>{{ translate('Settings') }}</v-list-tile-title>
				</v-list-tile-content>
			</v-list-tile>
			
		</v-list>
	</v-navigation-drawer>
</template>
<script src="./navigation.ts" ></script>