<template>
	<div>
		<router-view />
	</div>
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  data() {
    return {
		//
    };
  }
};
</script>
<style>
  @import '../assets/styles/styles.css';
</style>
