<template>
	<v-layout justify-center>
		<v-flex xs12 sm4 md3>
            <div>
                <v-tabs color="green lighten-2" dark slider-color="black" style="margin-top: 20px;">
					<v-tab :key="1" ripple>{{ translate('AddCompetence') }}</v-tab>
					<v-tab :key="2" ripple>{{ translate('Account') }}</v-tab>
					<v-tab-item :key="1">
						<v-card flat>
						<v-card-text>
							<v-form>
								<v-select :items="langs" v-model="selectedLang" :label="translate('Language')" item-text="name" item-value="code" @input="comp = competence[selectedLang]" />
								<v-text-field v-if="selectedLang.length > 0" v-model="comp" prepend-icon="note_add" :label="translate('Competence')" type="text" @input="saveComp"></v-text-field>						
							</v-form>
							<v-list dense>
          						<v-subheader>{{ translate('SetCompetences') }}</v-subheader>
								<div v-if="Object.keys(competence).length > 0">
									<v-list-tile v-for="(value, key) in competence" :key="key">
										<v-list-tile-content>
											<v-list-tile-title>{{ key }}: {{ value }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
								</div> 
							</v-list>
						</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn @click="addCompetence" color="green lighten-2" dark>{{ translate('AddCompetence') }}</v-btn>
							</v-card-actions>
						</v-card>
					</v-tab-item>
					<v-tab-item :key="2">
						<v-card flat>
							<v-card-text>
								{{ translate('ChangePassword') }}
								<v-form>
									<v-text-field prepend-icon="lock" name="oldpassword" :label="translate('OldPassword')" type="password" color="green lighten-2" />
									<v-text-field prepend-icon="lock" name="newpassword" :label="translate('NewPassword')" type="password" color="green lighten-2" />
								</v-form>
							</v-card-text>
						</v-card>
					</v-tab-item>
                </v-tabs>
            </div>
        </v-flex>
		<v-snackbar color="success" v-model="confirm" :right="true" :timeout="2000" :top="true">
			{{ translate('CompetenceAdded') }}
		</v-snackbar>
		<v-snackbar color="error" v-model="error" :right="true" :timeout="2000" :top="true">
			{{ translate('FailedCompetenceAdd') }}
		</v-snackbar>
	</v-layout>
</template>
<script src="./recruiter_settings.ts" />
