<template>
	<v-layout align-center justify-center >
		<v-flex xs12 sm8 md4>
			<v-card>
				<div class="vertical-space">
					<v-toolbar color="green lighten-2" dark> 
						<v-toolbar-title>{{ translate('Welcome') }}</v-toolbar-title>
					</v-toolbar>
					<v-card-text>
						{{ translate('WelcomeMessage') }}
					</v-card-text>
				</div>
				
			</v-card>
			<v-layout align-center justify-space-around>
				<div class="vertical-space">
					<v-btn v-if="!isAdmin()" @click="goToApply" color="green lighten-2" dark large>
						{{ translate('Apply') }}
					</v-btn>
				
				</div>
			</v-layout>
			<v-layout align-center justify-space-around>
				<div class="bottom-space">
					
				</div>
			</v-layout>
		</v-flex>
		<v-snackbar color="error" v-model="couldNotLoadDB" :right="true" :timeout="20000" :top="true">
			{{ translate('DatabaseError') }}
		</v-snackbar>
	</v-layout>
</template>
<script src="./home.ts"></script>
