<template>
	<div class="text-xs-center">
		<v-dialog v-model="registerDialogVisible" width="500" persistent>
			<v-card class="elevation-12">
				<v-toolbar dark color="green lighten-2">
					<v-toolbar-title>{{ translate('RegisterForm') }}</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-icon @click="hideDialog">close</v-icon>
				</v-toolbar>
				<v-card-text>
					<v-form>
                        <v-text-field prepend-icon="person" v-model="user.name"  v-bind:class="{activeError: getError('nameRequired')}" :label="translate('Name')" type="text" name="name"/>
                        <v-text-field prepend-icon="person" v-model="user.surname" v-bind:class="{activeError: getError('surnameRequired')}" :label="translate('Surname')" type="text" />
						<v-text-field prepend-icon="assignment_ind" v-model="user.ssn" v-bind:class="{activeError: getError('nonValidSSN')}" :label="translate('SSN')" type="" @change="reformatSSN()" name="ssn"/>
						<v-text-field prepend-icon="email" v-model="user.email" v-bind:class="{activeError: getError('nonValidEmail')}" :label="translate('EMail')" type="text" name="email"/>
						<v-text-field prepend-icon="lock" v-model="user.password" v-bind:class="{activeError: getError('passwordRequired')}" :label="translate('Password')" type="password" />
						<v-text-field prepend-icon="lock" v-model="confirmPassword" v-bind:class="{activeError: getError('repeatPassword')}" :label="translate('ConfirmPassword')" type="password" />
                       
					</v-form>
				</v-card-text>
				<v-card-actions>
					<span v-if="user.password != confirmPassword">{{ translate('PasswordMatchErrorMessage') }}</span>
					<v-spacer></v-spacer>
					<v-btn @click="backToLogin" color="green lighten-2" style="color: white;">{{ translate('Back') }}</v-btn>
					<v-btn @click="registerUser" color="green lighten-2" :disabled="disableReg" :loading="loading" style="color: white;">{{ translate('Register') }}</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		<v-snackbar color="green lighten-2" v-model="successSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('RegistrationComplete') }}
		</v-snackbar>
		<v-snackbar color="error" v-model="errorSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('RegistrationFailed') }}
		</v-snackbar>
		<v-snackbar color="error" v-model="valErrorSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('ApplicationValidationFailed') }}
		</v-snackbar>
	</div>
</template>
<script src="./register_dialog.ts"></script>