<template>
	<v-layout justify-center>
		<v-flex xs12 sm4 md3 lg4 xl4>
			<v-card color="white" style="margin-top: 20px;">
				<form action="">
					<v-toolbar color="green lighten-2" dark>
						<v-toolbar-title>{{ translate('Apply') }}</v-toolbar-title>
					</v-toolbar>
					<v-card-text v-if="submitComplete">
						{{ translate('ApplicationSubmitted') }}
					</v-card-text>
					<v-card-text v-else>
						<v-alert :value="submissionError" type="error" transition="scale-transition" style="margin-top: 0px;">
							{{ translate('ErrorOnSubmit') }}
						</v-alert>
						<v-layout v-if="loading" row wrap justify-center>
							<v-flex xs1>
								<v-progress-circular :size="50" color="green lighten-2" indeterminate />
							</v-flex>
						</v-layout>
						<div v-else>
							<v-text-field v-model="currentUser.name" :label="translate('Name')" name="name" readonly />
							<v-text-field v-model="currentUser.surname" :label="translate('Surname')" name="surname" readonly />
							<v-text-field v-model="currentUser.ssn" :label="translate('SSN')" name="ssn" readonly />
							<v-flex xs12>
								<p class="subheading" style="margin-bottom: -5px; color:rgba(0,0,0,0.54);">{{ translate('Availability') }}</p>
							</v-flex>
							<div v-for="(x, i) in selectedAvailabilities" :key="i+400">
								<div v-if="i == selectedAvailabilities.length - 1">
									<v-layout row wrap justify-space-between>
										<v-flex style="padding-right: 5px;">
											<v-menu :close-on-content-click="false" v-model="menu1" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
												<v-text-field slot="activator" v-model="selectedAvailabilities[i].from_date" :label="translate('From')" prepend-icon="event" readonly />
												<v-date-picker v-model="selectedAvailabilities[i].from_date" @input="menu1 = false" />
											</v-menu>
										</v-flex>
										<v-flex style="padding-left: 5px;">
											<v-menu :close-on-content-click="false" v-model="menu2" :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
												<v-text-field slot="activator" v-model="selectedAvailabilities[i].to_date" :label="translate('To')" prepend-icon="event" readonly />
												<v-date-picker v-model="selectedAvailabilities[i].to_date" @input="menu2 = false" />
											</v-menu>
										</v-flex>
										<v-flex shrink>
											<v-icon @click="deleteAvailability(i)" color="error" style="margin-top: 20px;">close</v-icon>
										</v-flex>
									</v-layout>
								</div>
								<v-layout v-else row wrap>
									<v-flex >
										<v-text-field readonly prepend-icon="event" :label="translate('From')" v-model="selectedAvailabilities[i].from_date" />
									</v-flex>
									<v-flex >
										<v-text-field readonly prepend-icon="event" :label="translate('To')" v-model="selectedAvailabilities[i].to_date" />
									</v-flex>
									<v-flex shrink>
										<v-icon @click="deleteAvailability(i)" color="error" style="margin-top: 20px;">close</v-icon>
									</v-flex>
								</v-layout>
							</div>
							<div v-for="(y, j) in selectedCompenteces" :key="j">
								<v-layout row wrap justify-space-between>
									<v-flex grow style="padding-right: 10px;">
										<v-select v-model="selectedCompenteces[j].type" :items="competences" item-text="name" item-value="name" name="type" :label="translate('Competence')" row/>
									</v-flex>
									<v-flex xs3>
										<v-text-field v-model="selectedCompenteces[j].years" name="years" :label="translate('Years')" row type="number" />
									</v-flex>
									<v-flex shrink>
										<v-icon @click="deleteCompetence(j)" color="error" style="margin-top: 20px;">close</v-icon>
									</v-flex>
								</v-layout>
							</div>
						</div>
					</v-card-text>
					<v-card-actions>
						<v-layout row>
							<v-btn dark color="green lighten-2" outline @click="pushAvailability">
								<v-icon dark>add</v-icon>{{ translate('Availability') }}
							</v-btn>
							<v-btn dark color="green lighten-2" outline @click="pushCompetence">
								<v-icon dark>add</v-icon>{{ translate('Competence') }}
							</v-btn>
							<v-spacer></v-spacer>
							<v-btn :disabled="disableApply" color="green lighten-2" class="hidden-md-and-down" @click="addApplication" :loading="submitting">{{ translate('Apply') }}</v-btn>
						</v-layout>
						<v-btn color="green lighten-2" block class="hidden-md-and-up" @click="addApplication" :loading="submitting">{{ translate('Apply') }}</v-btn>
					</v-card-actions>
				</form>
			</v-card>
		</v-flex>
		<v-snackbar color="error" v-model="valErrorSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('ApplicationValidationFailed') }}
		</v-snackbar>
	</v-layout>
</template>

<script src="./apply.ts" />
