<template>
	<div class="text-xs-center">
		<v-dialog v-model="loginDialogVisible" width="500" persistent>
			<v-card class="elevation-12">
				<v-form onsubmit="return false">
					<v-toolbar dark color="green lighten-2">
						<v-toolbar-title>{{ translate('LoginForm') }}</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-icon @click="hideDialog">close</v-icon>
					</v-toolbar>
					<v-alert :value="errorAlert" type="error" transition="scale-transition" style="margin-top: 0px;">
						{{ translate('WrongUsernamePassword') }}
					</v-alert>
					<v-alert :value="successAlert" type="success" transition="scale-transition" style="margin-top: 0px;">
						{{ translate('LoginResponse') }} {{ user.username }}
					</v-alert>
					<v-card-text>
						<v-text-field v-model="user.username" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
						<v-text-field v-model="user.password" prepend-icon="lock" name="password" label="Password" id="password" type="password"></v-text-field>
					</v-card-text>
					<v-card-actions>
						<v-btn color="green lighten-2" dark @click="changeToForgotPwForm">{{ translate('ForgotPassword') }}</v-btn>
						<v-btn color="green lighten-2" dark @click="changeToRegForm">{{ translate('Register') }}</v-btn>
						<v-spacer></v-spacer>
						<v-btn color="green lighten-2" dark type="submit" @click="login">{{ translate('Login') }}</v-btn>
					</v-card-actions>
				</v-form>
			</v-card>
		</v-dialog>
	</div>
</template>
<script src="./login_dialog.ts"></script>