<template>
	<div class="text-xs-center">
		<v-dialog v-model="forgotPwDialogVisible" width="500" persistent>
			<v-card class="elevation-12">
				<v-toolbar dark color="green lighten-2">
					<v-toolbar-title>{{ translate('ForgotPassword') }}</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-icon @click="hideDialog">close</v-icon>
				</v-toolbar>
				<v-card-text>
					<v-form>
						<v-text-field prepend-icon="email" :label="translate('EMail')" type="text"></v-text-field>						
					</v-form>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn @click="backToLogin" color="green lighten-2">{{ translate('Back') }}</v-btn>
					<v-btn @click="reqPw" color="green lighten-2">{{ translate('SendNewPassword')}}</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>
<script src="./forgotPw_dialog.ts"></script>