

.vertical-space {
	margin-top: 10px !important;
	
}

.bottom-space {
	margin-top: 5%;
}

.margin-up {
	margin-top: 40px;
}

.margin-up-small {
	margin-top: 180px;
}

.header-img {
	height: 20px;
	width: auto;
}

.home-img {
	height: 100px;
	width: auto;
	display: inline-block;
}

.home-img-small {
	height: 40px;
	width: auto;
	display: inline-block;
	margin-right: 5px;
}

.home-logo-text {
	font-size: 100px;
	line-height: 80px;
}

.home-logo-text-small {
	font-size: 30px;
	line-height: 20px;
}

.filter-header {
	font-size: 150%;
	font-weight: 500;
}

.expansion-background li {
	background:#81C784 !important;
	color: #fff !important;
}

.expansion-background li div div.v-expansion-panel__header__icon i {
	color: #fff !important;
}

.activeError label {
	color: crimson !important;
}
.lang_button {
	margin-right: 30px; 
	font-weight: 500; 
	cursor: pointer;
}