<template>
	<v-layout justify-center>
		<v-flex xs12 sm8 md8>
			<v-card style="margin-top: 20px;">
				<v-toolbar color="green lighten-2" dark>
					<v-toolbar-title>{{ translate('Applications') }}</v-toolbar-title>
					<v-spacer></v-spacer>
					<v-text-field v-model="search" append-icon="search" :label="translate('Search')" single-line hide-details />
				</v-toolbar>
				<v-data-table :headers="headers" :items="applicants" :search="search">
					<template slot="items" slot-scope="props">
						<tr @click="openApplication(props.item)">
							<td>
								<v-icon color="success" v-if="props.item.application && props.item.application.status == 'Accepted'">done</v-icon>
								<v-icon color="error" v-else-if="props.item.application && props.item.application.status == 'Rejected'">close</v-icon>
								<v-icon color="info" v-else>remove</v-icon>
							</td>
							<td>{{ props.item.name }}</td>
							<td>{{ props.item.surname }}</td>
							<td>{{ props.item.ssn }}</td>
							<td>{{ props.item.email }}</td>
							<td>
								<span v-for="(item, index) in props.item.experience" :key="index">
									{{ item.type }}<span v-if="index < props.item.experience.length - 1">, </span>
								</span>
							</td>
							<td>
								<span v-for="(item, index) in props.item.availability" :key="index">
									{{ item.from_date }} - {{ item.to_date }}<span v-if="index < props.item.availability.length - 1">, </span>
								</span>
							</td>
						</tr>
					</template>
				</v-data-table>
			</v-card>
			<v-dialog v-model="dialog" scrollable max-width="500px" transition="dialog-transition">
				<v-card>
					<v-toolbar dark color="green lighten-2">
						<v-toolbar-title>
							{{ translate('Applicant') }} 
						</v-toolbar-title>
						<v-spacer></v-spacer>
						<v-icon @click="dialog = false">close</v-icon>
					</v-toolbar>
					<v-card-text>
						<v-form>
							<v-text-field name="name" :label="translate('Name')" v-model="selectedApplicant.name" readonly />
							<v-text-field name="surname" :abel="translate('Surname')" v-model="selectedApplicant.surname" readonly />
							<v-text-field name="ssn" :label="translate('SSN')" v-model="selectedApplicant.ssn" readonly />
							<v-text-field name="email" :label="translate('EMail')" v-model="selectedApplicant.email" readonly />
						</v-form>
					</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="green lighten-2" dark @click="acceptApplication" :loading="handlingA">{{ translate('Accept') }}</v-btn>
						<v-btn color="error" @click="rejectApplication" :loading="handlingR">{{ translate('Reject') }}</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
			<v-expansion-panel class="expansion-background">
				<v-expansion-panel-content>
				<div slot="header">
					<h1 class="filter-header">{{ translate('Filter') }}</h1>
				</div>
				<v-card >
					<v-form action="" >
						<v-layout align-center justify-space-around row fill-height>
							<v-flex xs3 row>
								<v-select
										:items="competences"
										item-text="name"
										:label="translate('Competence')"
										v-model="compName"	
								></v-select>
							</v-flex>
							<v-flex xs3 row>
								<v-menu :close-on-content-click="true"  :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
									<v-text-field slot="activator" v-model="date1" :label="translate('From')" prepend-icon="event" readonly />
									<v-date-picker v-model="date1"  />
								</v-menu>
							</v-flex>
							<v-flex xs3 row>
								<v-menu :close-on-content-click="true"  :nudge-right="40" lazy transition="scale-transition" offset-y full-width min-width="290px">
									<v-text-field slot="activator" v-model="date2" :label="translate('To')" prepend-icon="event" readonly />
									<v-date-picker v-model="date2"  />
								</v-menu>
							</v-flex>
						</v-layout>
						<v-layout align-center justify-end row fill-height>
							<v-btn @click="clearFilter" color="green lighten-2" dark>{{ translate('ClearFilters') }}</v-btn>
							<v-btn @click="saveFiltersUpdateList" color="green lighten-2" dark>{{ translate('SaveFilters') }}</v-btn>
						</v-layout>
					</v-form>
				</v-card>
				</v-expansion-panel-content>
			</v-expansion-panel>
		</v-flex>
		<v-snackbar color="success" v-model="successSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('ApplicationHandeled') }}
		</v-snackbar>
		<v-snackbar color="error" v-model="errorSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('ApplicationHandeledFailed') }}
		</v-snackbar>
		<v-snackbar color="error" v-model="valErrorSnackbar" :right="true" :timeout="2000" :top="true">
			{{ translate('ApplicationValidationFailed') }}
		</v-snackbar>
	</v-layout>
</template>

<script src="./applications.ts" />